{% assign current = page.url | downcase | split: '/' %}
<header class="page-header">
  <nav class="container">
    <a class="site-title" href="{{ absolute_url }}/">{{ site.title }}</a>

    <a href="{{ '/projects/' | relative_url }}" {% if current[1] == 'projects' %}class="active"{% endif %}>Проекты</a>
    <a href="{{ '/publications/' | relative_url }}" {% if current[1] == 'publications' %}class="active"{% endif %}>Публикации</a>
    <a href="{{ '/talks/' | relative_url }}" {% if current[1] == 'talks' %}class="active"{% endif %}>Курилка</a>
    <a href="{{ '/blog/' | relative_url }}" {% if current[1] == 'blog' %}class="active"{% endif %}>Блог</a>
    <a href="{{ '/cv/' | relative_url }}">CV</a>

    <span class="external">
      <a href="√"><i class="fab fa-telegram"></i> Telegram</a>
      <a href="https://github.com/kshutashvili"><i class="fab fa-github"></i> GitHub</a>
    </span>
  </nav>
</header>
